@model IEnumerable<CURDOperationWithImageUploadCore5_Demo.Models.Speaker>
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin") || User.IsInRole("Staff"))
{
<p>

    <a asp-action="Create" class="btn btn-primary rounded-0"><i class="fa fa-plus-circle"></i> Add New</a>
</p>
}

<p>
    @using (Html.BeginForm("Index", "Speakers", FormMethod.Get))
    {
        @*<b>Search By:</b> @Html.RadioButton("searchBy", "name", true) <p>Name</p>
            @Html.RadioButton("searchBy", "picture") <p>Date</p>*@
        @Html.TextBox("search") @*<input type="submit" value="Search" />*@
        <button type="submit" class="btn btn-dark">Search</button>
    }


</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProfilePicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpeakerName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.SpeakingDate)
            </th>

        </tr>
    </thead>
    <tbody>

        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4">No rows match search criteria</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">
                            <img src="~/Uploads/@item.ProfilePicture" class="img-thumbnail" height="100" width="100" asp-append-version="true" />
                        </a>
                    </td>
                    <td>@item.SpeakerName</td>

                    <td>@item.SpeakingDate</td>

                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin") || User.IsInRole("Staff"))
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-info rounded-0"><i class="fa fa-pencil-alt"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger rounded-0"><i class="fa fa-trash-alt"></i></a>
                        </td>
                    }
                </tr>

            }
        }
        </tbody>
</table>
